.item {
  background-color: #eae7e7;
  width: 300px;
  min-height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 350ms linear;
  cursor: pointer;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  width: 70px;
}

.name {
  font-size: 25px;
  font-weight: 700;
}
